.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  align-items: center;
  font-family: "Inter";
  background: linear-gradient(253.58deg, #cebb84 1.55%, #dfb2c1 95.8%);
}

.login_form {
  display: flex;
  flex-direction: column;
}

.login_form > h1 {
  font-size: 35px;
  margin-left: 100px;
  margin-bottom: 15px;
  padding-bottom: 10px;
  letter-spacing: -1px;
}

.login_form > input {
  min-width: 380px;
  padding: 20px 0;
  padding-left: 15px;
  margin-bottom: 10px;
  background: #ffffff;
  border-radius: 80px;
  border: 1px solid rgba(0, 0, 0, 0.24);
  font-family: "Inter";
  font-size: 15px;
}

.submit_btn {
  padding: 17px 30px;
  margin-top: 10px;
  background: linear-gradient(253.58deg, #ffc000 1.55%, #ec135c 95.8%);
  box-shadow: 0px 12px 35px rgba(160, 121, 0, 0.2);
  border-radius: 100px;
  border: none;
  color: white;
  font-size: 14px;
  font-family: "Inter";
}
